body {
    margin: 0;
    padding: 0;
}

.text {
    text-align: center;
}

.text-margin {
    padding-top: 50dp;
    margin-top: 50dp;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

.foot {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.progress {
    padding: 5dp;
}

input {
    margin-top: 10px;
}